 <button class="toggle-id-1">✆</button>
    <div style="height:5px"></div>
    <button class="toggle-id-2">✉</button>
    <div class="slidebar-id-1"
        style="margin-right: -255px; display: none; transition-duration: 200ms; transform: translate(-255px, 0px);">
        <p><b>Telephone:</b><br><a href="tel:{{_FKCContact._tel}}">{{_FKCContact._tel}}</a></p>
    </div>
    <div class="slidebar-id-2"
        style="margin-right: -255px; display: none; transition-duration: 200ms; transform: translate(-255px, 0px);">
        <p><b>Email:</b><br><a href="mailto:{{_FKCContact._email}}">{{_FKCContact._email}}</a></p>
</div>